// Body
$body-background: #000000;
$body-color: #000000;



// Default Links
$link-color: #666666;
$link-hover-color: #fff;


// UI
$ui-grad-start: #222;
$ui-grad-end: #111;
$ui-border-color: #333;
$ui-color: #666;


// Header
$header-color: #666;
$header-hover-color: #ddd;
$header-shadow-color: #111;

$navigation-color: #666;
$navigation-hover-color: #fff;

$search-border: #333;
$search-border-active: #eee;


// Posts
$post-detail-header-color: #eee;
$post-detail-background: #000;
$post-detail-color: #ddd;
$post-detail-link-color: #ccc;
$post-detail-link-hover: #fff;


$comments-color: #fff;
$comment-color: #ccc;
$comment-link-color: #ccc;
$comment-link-hover: #fff;

$form-error-color: red;


// Content
$content-color: #ccc;
$content-background: #222;

$content-header: #eee;
$content-header3: #aaa;
$content-header4: #bbb;

$content-inset-background: #262626;
$content-inset-border: #333;

$caption-color: #fff;
$caption-background: #000;

$list-marker-background: #333;
$list-marker-border: #444;
$list-marker-separator: #333;
$list-marker-color: #fff;
$list-marker-hover-background: #222;
$list-marker-hover-border: #aaa;

$loading-color: #fff;


// Archives
$archive-controls-color: #555;
$archive-controls-hover-color: #fff;
$archives-select-color: #eee;


// Slider
$slider-caption-background: #111;
