    <div class="wrap">
    <div class="image">
        <div class="container">
            <div class="comments">
                <div class="comment_wrap">
                    <ol></ol>
                    <div class="form">
                        <label for="name">Name:</label>
                        <input name="author_name" />
                        
                        <label for="email">Email:</label>
                        <input name="author_email" />
                        
                        <label for="email">URL:</label>
                        <input name="author_url" />

                        <textarea name="content"></textarea>
                        
                        <a class="submit" href="#"><i class="fa fa-spin"></i> Add Comment</a>
                    </div>
                </div>
                <span class="count"></span> <i class="fa fa-2x fa-comments"></i>
            </div>
            <div class="details">
                <h1>
                    <a href="<%=plink%>"><%=title.rendered%></a>
                    <div class="share"></div>
                </h1>
                <% if (_embedded['wp:term'][0]) { %>
                <span class="cats">
                    <%=_.map(_embedded['wp:term'][0], function(t) { return '<a href="/categories/category/'+t.slug+'">'+t.name+'</a>' }).join(' | ') %>
                </span>
                <% } %>
                <%=content.rendered%>
            </div>
        </div>
    </div>
    </div>